<div class="navlinks-container navlinks-container--main-link">
  <a href="/">
    <figure>
      <img src="/images/logo.webp" alt="logo de O'Coffee" />
    </figure>
  </a>
  <h1>O'Coffee</h1>
</div>
<nav class="navlinks-container classic-links">
  <ul>
    <li class="classic-links--link-container">
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/catalog">Catalogue</a>
    </li>
    <li>
      <a href="/shop">Boutique</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/admin">Admin</a>
    </li>
  </ul>
</nav>
<div
  class="navlinks-container hamburger close"
  role="navigation"
  aria-label="Menu principal"
  aria-expanded="false"
>
  <span class="hamburger--span" aria-hidden="true"> </span>
  <span class="hamburger--span" aria-hidden="true"></span>
  <span class="hamburger--span" aria-hidden="true"></span>
</div>
<nav class="navlinks-container hamburger-links close">
  <ul>
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/catalog">Catalogue</a>
    </li>
    <li>
      <a href="/shop">Boutique</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/admin">Admin</a>
    </li>
  </ul>
</nav>
