body {
  background-color: var(--bg-principal-color);
  background-image: linear-gradient(0deg, #fff, var(--bg-principal-color));
  min-height: 100vh;
}

.main-section {
  display: flex;
  margin-inline: 50px;
  margin-block: 50px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-contrast-color);
  font-weight: 900;
}

.grid-section {
  width: 100%;
  display: grid;
  grid-template: ". . ." / 1fr 1fr 1fr;
  gap: 30px;
}

.classic-links--link-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.active {
  display: inline-block;
}
/*----------media queries----------*/

/* media queries for small screens : breakpoint 1200px */
@media screen and (max-width: 1200px) {
  .grid-section {
    width: 100%;
    display: grid;
    grid-template: ". ." / 1fr 1fr;
    gap: 30px;
  }
}

/* media queries for small tablets : breakpoint 1024px */
@media screen and (max-width: 1024px) {
  .main-section {
    flex-direction: column;
    margin-inline: 30px;
    margin-block: 20px;
  }
}

/* media queries for mobiles : breakpoint 768px */
@media screen and (max-width: 768px) {
  .grid-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "."
      "."
      ".";
  }
}
