<%- include('../partials/head') %>
<main class="app__main">
  <h2>Erreur 404 - Page introuvable</h2>
  <figure class="error--img">
    <img
      src="/images/coffee-lost.png"
      alt="Une tasse de café renversée avec des grains de café"
    />
  </figure>
</main>
<%- include('../partials/foot') %>
