<%- include('../partials/head') %>
<main class="app__main">
  <h2>Confirmation d'envoi du message</h2>
  <p>
    Merci pour votre message <%= firstname %>, il nous a bien été envoyé, nous
    reviendrons vers vous dans les plus bref délai.
  </p>
</main>
<%- include('../partials/foot') %>
