<%- include('../partials/head') %>
<main class="app__main">
  <h2>Espace de connexion administrateur</h2>
  <form action="" method="post" class="login--form">
    <div class="contact--form__div" aria-labelledby="user">
      <label for="user">Nom d'utilisateur</label>
      <input type="text" name="user" id="user" />
    </div>
    <div class="contact--form__div" aria-labelledby="password">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" />
    </div>
    <button type="submit" class="button">Valider</button>
  </form>
</main>
<%- include('../partials/foot') %>
